.backgroundimg {
  background-image: url("/images/BG.png");
  background-position: center center;
  background-size: cover;
  height: 200px;
}


.items {
  text-align: center;
}

.quote {
  font-size: 117%;
  text-align: center;
  font-family: Georgia, "Times New Roman", Times, serif;
  padding: 2%;
  color: rgb(113, 144, 187);
}



/** contact us style */

body {
  height: 100vh;
  width: 100%;
}

.container {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 100px;
}

.contact-box {
  max-width: 850px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #fff;
  box-shadow: 0px 0px 19px 5px rgba(0, 0, 0, 0.19);
  margin-left: 20%;
  margin-top: 3%;
}

.left {
  background: url("/images/contct3.jpg") no-repeat center;
  background-size: cover;
  height: 100%;
}

.right {
  padding: 25px 40px;
}

h2 {
  position: relative;
  padding: 0 0 10px;
  margin-bottom: 10px;
}

h2:after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  height: 4px;
  width: 50px;
  border-radius: 2px;
}
.form {
  width: 100%;
  border: 2px solid rgba(0, 0, 0, 0);
  outline: none;
  background-color: rgba(230, 230, 230, 0.6);
  padding: 0.5rem 1rem;
  font-size: 1.1rem;
  margin-bottom: 22px;
  transition: 0.3s;
}
.field {
  width: 100%;
  border: 2px solid rgba(0, 0, 0, 0);
  outline: none;
  background-color: rgba(230, 230, 230, 0.6);
  padding: 0.5rem 1rem;
  font-size: 1.1rem;
  margin-bottom: 22px;
  transition: 0.3s;
}

.field:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

textarea {
  min-height: 150px;
}

/** footer */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap'); /* links for footer fonts */
.footer {
  line-height: 1.5;
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 70px 0;
  box-sizing: border-box;
  background-color: #24262b;

}
#footer-counter {
  max-width: 1170px;
  margin: auto;
}

.ul-footer {
  list-style: none;
}

#companyUl{
  margin-top: -5%;
}

#gethelpUl {
  margin-top: -2%;
}

#followusUl{
  margin-top: -14%;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.footer-col {
  width: 25%;
  padding: 0 15px;
}

.footer-col h4{
  font-size: 18px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}

.footer-col h4::before { /* line under the ul(s) */
  content: '';
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: #e91e63;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}

.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}

.footer-col ul li a{
  font-size: 16px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
  transition: all 0.3s ease;
}

.footer-col ul li a:hover {
  color: #ffffff;
  padding-left: 8px;
}

.footer-col .social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
}

.footer-col .social-links a:hover {
  color: #24262b;
  background-color: #ffffff;
}
/* responsive */
@media (max-width: 767px) {
  .footer-col {
    width: 50%;
    margin-bottom: 30px;
  }
}
@media (max-width: 574px) {
  .footer-col {
    width: 100%;
  }
}

/* end footer */

/* about us style */
.aboutusSec {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: sans-serif;
  background-color: #dee0e3;
  margin-bottom: 2%;
}
.heading {
  text-align: center;
  margin-top: 25px;
}
.heading h2 {
  font-size: 50px;
  color: #36455c;
  margin-bottom: 10px;

}
.heading p {
  font-size: 20px;
  color: #666;
  margin-bottom: 50px;
}
.about-us {
  display: flex;
  align-items: center;
  width: 85%;
  margin: auto;
}
.about-us img {
  flex: 0 50%;
  max-width: 50%;
  height: auto;
  padding-bottom: 3%
}
.contentau {
  padding: 35px;
}
.contentau h2 {
  color: #36455c;
  font-size: 24px;
  margin: 15px 0px;
}
.contentau p{
  color: #666;
  font-size: 18px;
  line-height: 1.5;
  margin: 15px 0px;
}
.read-more-btn {
  display: inline-block;
  color: #fff;
  background-color: #0084ff;
  border: none;
  border-radius: 5px;
  padding: 12px 20px;
  font-size: 18px;
  cursor: pointer;
}
.read-more-btn:hover {
  background-color: #006dd6;

}
@media (max-width: 768px) { /*to be flexiable to all devices*/
  .about-us {
    flex-direction: column;
  }
  .about-us img {
    flex: 0 100%;
    max-width: 100%;
  }
  .contentau {
    flex: 0 100%;
    max-width: 100%;
    padding: 15px;
  }
}